<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikacjaTestowa"
        tools:targetApi="31">
        <activity
            android:name="naszeAktywnosci.MealDataActivity"
            android:exported="false" />

        <receiver
            android:name="naszeAktywnosci.Notification"
            android:enabled="true" />

        <activity
            android:name="naszeAktywnosci.ScheduleNotificationsActivity"
            android:exported="false" />
        <activity
            android:name="naszeAktywnosci.BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.AplikacjaTestowa" />
        <activity
            android:name="naszeAktywnosci.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="naszeAktywnosci.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AplikacjaTestowa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="naszeAktywnosci.AddInsulinActivity"
            android:exported="false" />
        <activity
            android:name="naszeAktywnosci.AddMealActivity"
            android:exported="false" />
        <activity
            android:name="naszeAktywnosci.AddGlucoseMeasurmentActivity"
            android:exported="false" />
        <activity
            android:name="naszeAktywnosci.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name="naszeAktywnosci.MainActivity"
            android:exported="false" />
    </application>

</manifest>